version: '3.8'

services:
  mysql:
    image: mysql:8
    container_name: ecommerce-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: ecommerce
      MYSQL_USER: user
      MYSQL_PASSWORD: Pass@123
    ports:
      - "3306:3306"
    networks:
      - ecommerce-network

  backend:
    build: ./backend
    container_name: ecommerce-backend
    environment:
      DB_HOST: mysql
      DB_USER: user
      DB_PASS: Pass@123
      DB_NAME: ecommerce
    depends_on:
      - mysql
    ports:
      - "3000:3000"
    networks:
      - ecommerce-network

  frontend:
    build: ./frontend
    container_name: ecommerce-frontend
    ports:
      - "3001:3001"
    depends_on:
      - backend
    networks:
      - ecommerce-network

networks:
  ecommerce-network:
    driver: bridge

