apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: ecom
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: nadheer/ecommerce-backend:v1.1
        ports:
        - containerPort: 3000
        envFrom:
        - secretRef:
            name: ecom-backend-secret

